@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page backgroundImage">

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="footer">
        <p>©2023 Developed by Aaron Skinner, <a class="link" href="https://ornerylion.com">OrneryLion LLC </a>. All rights reserved. </p>
        <p><a class="link" href="termsofuse">Terms of Use</a> | <a class="link" href="privacy">Privacy Policy</a></p>
    </div>
</div>
